body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: linear-gradient(to bottom, rgb(191, 191, 192), rgb(128, 152, 179));
    background-attachment: fixed;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(99, 91, 177); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(61, 56, 107); /* Add a dark-grey background on hover */
  }

#div-body {
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    background-color: white;
}

#experience-title::before {
    content: url('https://api.iconify.design/emojione:desktop-computer.svg?width=48');
    vertical-align: -0.4em;
}

#formation-title::before {
    content: url('https://api.iconify.design/fxemoji:graduationcap.svg?width=48');
    vertical-align: -0.4em;
}

#publication-title::before {
    content: url('https://api.iconify.design/emojione-v1:newspaper.svg?width=48');
    vertical-align: -0.4em;
}
#communication-title::before {
    content: url('../../data/images/3319594_board_chart_graph_presentation_icon.png');
    vertical-align: -0.4em;
    height: 2px;
    width: 2px;
}

h2 {
    scroll-margin-top: 100px;
    font-size:xx-large;
    font-weight:bold;
    color: rgb(21, 20, 29);
}

.job {
    padding: 5px;
    padding-left: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(162, 154, 230);
    box-shadow: 5px 5px 5px lightgray;
}

.job-position {
    font-size:larger;
}

.job-title {
    font-size:larger;
    font-weight: bold;
    color: rgb(74, 72, 90);
}

.job a {
    text-decoration: none;
    color: rgb(76, 71, 121);
}
.job a:hover {
    font-weight: bold;
}

.date-info{
    padding-right: 20px;
}

.place-info {
    padding-right: 20px;
}

.place-info:before {
    content: url('https://api.iconify.design/eva:pin-fill.svg?height=24');
    vertical-align: -0.25em;
}
.date-info:before{
    content: url('https://api.iconify.design/flat-color-icons:calendar.svg?height=24');
    vertical-align: -0.25em;
}
.supervisor:before{
    content: url('https://api.iconify.design/fluent:person-mail-20-filled.svg?height=24');
    vertical-align: -0.25em;
}