#div-front {    
    margin: 20px 20px 0px 20px;
    background-color: rgb(223, 228, 235);
    padding: 30px;
    border-radius: 40px;
    border:3px solid rgb(89, 84, 128);
    box-shadow: 20px 20px 20px gray;
}

#photo {
    width: 300px;
    height:auto;
    border-radius: 40px;
}

#resume-table {
    width: 100%;
}

#right-frontpage {
    padding-left: 100px;
    text-align:justify;
    color: aliceblue;
    font-weight: bold;
}

#link-table, #div-resume {
    padding: 20px;
    background-color : rgba(6, 8, 24, 0.568);
    border-radius: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 4px 1px 10px aliceblue;
    margin-bottom: 50px;
}

#link-table a {
    color: aliceblue;
    text-decoration: none;   
    font-size: 1.5em; 
}

#link-table a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(51, 168, 214);
    text-decoration-thickness: 5px;
}


#link-table a::before{
    margin-right: 20px;
    vertical-align: -0.4em;
}

#github::before {
    content: url('https://api.iconify.design/bi:github.svg?width=42&color=aliceblue');   
}

#orcid::before{
    content: url('https://api.iconify.design/simple-icons:orcid.svg?width=42&color=aliceblue');
}

#linkedin::before {
    content: url('https://api.iconify.design/cib:linkedin.svg?width=42&color=aliceblue');
}

#email::before {
    content: url('https://api.iconify.design/fluent:mail-add-20-filled.svg?width=42&color=aliceblue');
}

#div-resume {
    font-size: 20px;
    text-align:justify;
    padding-right: 20px;
}
