#div-title {    
    margin: 0px;
    background-image: url('../../data/images/dna.jpg');
    height: 600px;
    position: relative;
}

#title {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    float: left;
}

#div-menu {
    margin: 30px;
    width:calc(100% - 60px);
    background-color: aliceblue;
    border-radius: 200px;
    position:absolute;
    z-index: 1;
    bottom : 0;
}

h1 {
    font-size: 3em;
}

#div-title table {
    width: 100%;
    color:aliceblue;
}

#div-menu table{
    width: 100%;
    border-spacing: 0px;
    z-index: 999;
}

#table-menu td{
    width:20%;
    text-align: center;
    height: 80px;
    padding-top: 20px;
    border-right: 4px solid rgb(167, 169, 177);
}

#table-menu a{
    font-size: 1.5em;
    text-decoration: none;
}

#table-menu td:hover{
    font-weight: bold;

}