#title-div {
    display: inline-block;
}

#title {
    padding-left: 100px;
    font-size: 3em;
    margin: 0px;
    top: 50%;
    position:absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#logo {
    margin-left: 10px;
    height:80px;
    top: 50%;
    position:absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#div-menu {
    width: 100%;
    background-color: rgb(15, 28, 39);
    color: aliceblue;
    z-index: 1;
    height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top:0;
}

#div-menu table{
    z-index: 999;
}

#table-menu {
    top: 50%;
    position:absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    right : 120px;
}

#table-menu td{
    text-align: center;
}

#table-menu a{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

#table-menu td:hover{
    border-bottom: 4px solid rgb(92, 153, 223);

}